//style guide variables
//serif is easier text to read

$headline-text: 3rem; // 300%
$body-text: 1rem; // 100%
$nav-item: 1.25rem; // 125%
$sub-header: 1.5rem; // 150%
$byline: 0.75rem; // 75%
$headline-margin: 15px;
$background1: lightgrey;

//font variable
$sans-serif: 'Open Sans', sans-serif;
$serif: 'Roboto Slab', serif;

body{
  font-family: $sans-serif;
  //allows you to specify font, if empty it will fall to default. mac = lucida
  font-size: 16px;
}

h1 {
  font-family: $serif;
  font-size: $headline-text;
  margin: $headline-margin;
}

p li {
  font-size: $body-text;
  background: $background1;
}

nav li {
  font-size: $nav-item;
}

h2 {
  font-size: $sub-header;
  margin: $headline-margin;
}

figcaption {
  font-size: $byline;
}

//rem responsive design element based on body, so 16px rem=rt element. 1rem = 100%
